.image{
    width: 750px;
    height: 400px;
}
.date_container{
    width: 25%;
}
.main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0 0 0;
}
.user_icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}