.image_container {
  width: 60%;
  margin-top: 30px;
}
.image_container > img {
  height: 500px;
  width: 100%;
}
.date_container {
  height: 38%;
  margin-top: 80px;
}
.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 40px;
}

.user_icon {
  display: flex;
  justify-content: flex-end;
}

.table-item {
  margin-right: auto;
  margin-left: 5%;
}
